<div class="container p-4">
    <div class="row justify-content-center">
        <h1>Modificar profesor</h1>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <form action="/profesores/modificar/{{profesor.idprofesor}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre del profesor"
                    value="{{profesor.nombre}}" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido del profesor"
                    value="{{profesor.apellido}}" />
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="fecha_nacimiento"
                        placeholder="Fecha nacimiento del profesor" value="{{convertDate profesor.fecha_nacimiento}}" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="profesion" placeholder="Profesion del profesor"
                    value="{{profesor.profesion}}" />
                </div>
                <div class="form-group">
                    <label for="generos">Genero:</label>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genero" id="M" value="M"
                                 {{#eq "M" profesor.genero}}checked{{/eq}}>
                                <label class="form-check-label" for="M">Masculino</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genero" id="F" value="F"
                                 {{#eq "F" profesor.genero}}checked{{/eq}}>
                                <label class="form-check-label" for="M">Femenino</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Correo del profesor"
                    value="{{profesor.email}}" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">Modificar</button>
                </div>
            </form>
        </div>
    </div>
</div>